body{
	font-family: Courier;
	color: rgba(65, 255, 0);

}
.stars, .twinkling{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width: 100%;
	height:100%;
	display:block;
}
/*Styling to create Twinkling Stars Background. Credit to*/
.stars{
	background: #000 url("./images/stars.png") repeat top center;
	z-index: 0;
}
.twinkling{
	background: transparent url("./images/twinkling.png") repeat top center;
	z-index: 1;
	animation: twinkle 200s linear infinite;
}

@keyframes twinkle{
	from{background-position:0px 0px;}
	to{background-position: -5000px 5000px;}
}
@keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes fadeout{
	0%{opacity: 1;}
	90%{opacity: 0;}
	100%{pointer-events: none;}
}
@keyframes sidetoside{
	0%{margin-left: -3%;} /*left: -0.5%;}*/
	50%{margin-left: 3%;}
	100%{margin-left: -3%;} /*left: 0%;}*/
	/*50%{width: 8%; left: 0.5%;}
	75%{width: 9%; left: 0%;}
	100%{width: 8%; left: -0.5%;}*/
}

@-webkit-keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(-360deg);}
}


#selectedAvatar{
	position: absolute;
	top: 50%;
    left: 50%;
    z-index: 6;
    opacity: 0;
    /*transition: transform .3s;*/
}

#container-fluid{
	font-family: Courier;
	color: rgba(65, 255, 0);

}
#maincontainer{
	position: relative;
	opacity: 0;
	animation: fadein 7s;
	animation-fill-mode: both;
	z-index: 2;
	

}
#title{
	position: relative;
	text-align: center;
	width: 60%;
	margin-top: 50%;
	margin: 3%  auto;

	min-width: 480px;
	max-width: 900px;
	z-index: 2;
}
#charselectbox{

	text-align: center;
	min-width: 480px;
	max-width: 900px;
	min-height: 400px ;
	width: 60%;
	height: 50vh;
	margin: auto;

	z-index:2;
	

}
#selectboxheader{

}
#avatarcontainer{
	width: 100%;
	height: 70%;
	margin: 10% auto;*/
	
}

.row{	
	align-items: center;
	height: 50%;
}
.col-sm-4{
	height: 100%;
}


.avatarimage{

	min-width: 100%;
	height: auto;
	margin: 10% auto;
}
.avatarimage img{
	animation: sidetoside 6s infinite;
	height: 64px;
	width: 64px;
}

.avatarbutton{
	margin-top: 0px;
	border-radius: 15px;
	background: linear-gradient(to bottom right, black, darkgrey);
	box-shadow: 1px 1px 3px 1px darkgrey;
	color: rgba(65, 255, 0);
	width: 60%;
	height: 30%;
	outline: none;

}
.avatarbutton:hover{
	height: 35%;
	cursor: pointer;
	outline: none;


/*Container for after Avatar Select*/	
}
#itemsContainer{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0px;
	opacity: 0;

}

#portfolio{
	position: absolute;
	height: 100px;
	width: 100px;
	top: 10%;
	left: 10%;
	background-color: blue;
	z-index: 5;
	background: radial-gradient(transparent,black), url("./images/blackholebackground-trim.png");
	background-size: cover;
	background-position: center;

	-webkit-animation: spin 20s infinite linear;
}

#about{
	position: absolute;
	height: 100px;
	width: 100px;
	top: 10%;
	right: 10%;
	background-color: red;
	z-index: 5;

}
#contact{
	position: absolute;
	height: 100px;
	width: 100px;
	bottom: 10%;
	left: 10%;
	background-color: yellow;
	z-index: 5;

}
#resume{
	position: absolute;
	height: 100px;
	width: 100px;
	bottom: 10%;
	right: 10%;
	background-color: green;
	z-index: 5;


}
.backbutton{
	position: absolute;
	top: 6%;
	left: 6%;
	width: 10%;
	height: 3%;
	font-size: 2vh;
	border-radius: 15px;
	background: linear-gradient(to bottom right, black, darkgrey);
	box-shadow: 1px 1px 3px 1px darkgrey;
	color: rgba(65, 255, 0);
	z-index: 10;
}

.backbutton:hover{
	height: 3.5%;
	cursor: pointer;
	outline: none;
}

@media screen and (max-width: 650px){

	
	.avatarbox{
		width: 26%;
		height: 15%;
		font-size: 1.5vh;
	}
	.avatarimage{
		margin-left: 1%;
		margin-right: 1%;
	}

}